# Dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
build/
android/
ios/

# Example code
app-example/

# Temporary files
*.log
.temp/